#presale-card {
  max-width: 800px;
  margin: 0 auto;
}
#presale-card .header {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-around;
}
#presale-card .header div {
  text-align: center;
}
#presale-card .data-row {
  justify-content: space-around;
}
#presale-card .purchase-card {
  text-align: center;
}
#presale-card .purchase-input-area {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}