#roadmap-content{
    max-width: 800px;
    margin: 0 auto;
}
#roadmap-content .MuiAvatar-colorDefault{
    background: #63bd7f;
    width: 20px;
    height: 20px;
    border: 1px solid #63bd7f;
}
#roadmap-content .TimelineBase-cardDecoratorRight-19, #roadmap-content .jss19{
    border-right: 16px solid #25253f;
}
#roadmap-content .TimelineBase-cardDecoratorLeft-18, #roadmap-content .jss18{
    border-left: 16px solid #25253f;
}
#roadmap-content .MuiCardContent-root{
    padding-bottom: 0px;
}
#roadmap-content .MuiGrid-item:nth-child(1) .TimelineBase-cardDecoratorLeft-18{
    border-left: 16px solid #63bd7f;
}
#roadmap-content .MuiGrid-item:nth-child(1) .MuiCard-root{
    background: #63bd7f;
}